* {
    padding: 0;
    margin: 0; 
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0D17;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
}

#page {
    width: 100%;
    height: 5vh;
    position: absolute;
    display: flex;
    display: flex;
    align-items: flex-end;
    font-size: 2vw;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.4vw;
    font-weight: 400;
    padding-left: 10%;
}

#page b{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    opacity: 0.25;
    margin-right: 1.6%;
}

#article {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    color: #D0D6F9;;
    display: flex;
    justify-content: center;
}

#article section { 
    width: 40vw;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#content div {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
}

#crewProfession {
    color: #FFFFFF;
    font-size: 2.2vw;
    opacity: 0.5;
    font-family: "Bellefair",serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
}

#crewTitle {
    color: #FFFFFF;
    font-size: 3.8vw;
    font-family: "Bellefair",serif;
    font-style: normal;
    font-weight: 400;
    line-height: 4.4vw;
    text-transform: uppercase;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

#crewParagraph {
    color: #D0D6F9;
    font-family: "Barlow",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 2.2vw;
    width: 60%;
}

#sectionImg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#crewImg {
    width: 30vw;
}

#button {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    list-style-type: none;
}

#button ul {
    list-style-type: none;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#crewSelect1, #crewSelect2, #crewSelect3, #crewSelect4 {
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-right: 12%;
    opacity: 0.17;
    cursor: pointer;
}

#crewSelect1{
    opacity: 1;
}

#button ul li:hover {
    opacity: 0.5;
}


@media (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    #article {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
    }
    #page{
        letter-spacing: 0.6vw;
        font-size: 3vw;
    }
    #content {
        display: flex;
        align-items: center;
    }
    #content div {
        text-align: center;
        width: 70vw;
        justify-content: space-evenly;
        height: 50%;
        margin-bottom: 10%;
    }
    #crewParagraph {
        width: 100%;
    }
    #button {
        justify-content: center;
        height: 5vh;
        align-items: flex-start;
    }
    #crewImg {
        width: 100%;
    }

    #crewProfession {
        font-size: 3.3vw;
    }
    
    #crewTitle {
        font-size: 5.7vw;
    }
    
    #crewParagraph {
        font-size: 1.875vw;
        line-height: 3.3vw;
    }
    
    #sectionImg {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    #crewSelect1, #crewSelect2, #crewSelect3, #crewSelect4 {
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media (max-width: 376px) {
    #article {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    #content div {
        text-align: center;
        height: 75%;
        width: 85vw;
    }
    #crewParagraph {
        width: 100%;
    }
    #button {
        justify-content: center;
    }
    #crewImg {
        width: 100%;
    }




    #page{
        letter-spacing: 0.9vw;
        font-size: 4.5vw;
        justify-content: center;
        padding: 0;
    }
    #content {
        display: flex;
        align-items: center;
        width: 100vw;
        flex-direction: column-reverse;
    }
    #button {
        justify-content: center;
        height: 5vh;
        align-items: center;
    }
    #sectionImg{
        display: flex;
        width: 100vw;
        border-bottom: 1px solid #383B4B;
    }
    #crewImg {
        width: 100%;
        align-self: flex-end;
    }

    #crewProfession {
        font-size: 4.125vw;
    }
    
    #crewTitle {
        font-size: 7.5vw;
        width: 100%;
    }
    
    #crewParagraph {
        font-size: 3vw;
        line-height: 6vw;
    }
    

    #crewSelect1, #crewSelect2, #crewSelect3, #crewSelect4 {
        width: 2vw;
        height: 2vw;
    }
    #button ul {
        width: 100%;
        justify-content: center;
    }
}