body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    background-color: rgb(14, 14, 136);
    color: antiquewhite;
    font-family: "Barlow Condensed",sans-serif;
}


.texto1{
    margin: 70px;
    width: 31vw;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .15rem;

}
.o1{
    color: darkslategray;
    margin-right: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.bloco{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 27vw;
    gap: 5vh;
    
}


.texto2{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    text-decoration: none;
    gap: 50px;
    
}


.texto3{
    width: 20vw;
    font-size: 110px;
    letter-spacing: .15rem;
    font-family: "Bellefair",serif;
}

.texto4{
    margin-bottom: 40px;
    width: 27vw;
    line-height: 190%;
    font-family: "Barlow",sans-serif;
    color: var(--fog--clr);
    font-size: 1.22rem;
    line-height: 1.8em;

}

.texto56{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    
}


.linha1{
    margin-bottom: 10px;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    color: var(--half-transparent--clr);

}

.linha2{
    margin-bottom: 10px;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    color: var(--half-transparent--clr);

}

.linha3{
    font-family: "Bellefair",serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light--clr);
}

.linha4{
    font-family: "Bellefair",serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light--clr);
}

