body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    background-color: rgb(14, 14, 136);
    color: antiquewhite;
    font-family: "Barlow Condensed",sans-serif;
}


.texto1{
    margin: 7vh;
    width: 70vh;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .15rem;

}
.o1{
    color: darkslategray;
    margin-right: 1rem;
}
.lua {
    width: 45vh;
    height: 45vh;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.bloco{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 27vw;
    gap: 5vh;
    
}


.texto2{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    text-decoration: none;
    gap: 10%;
    opacity: 0.8;
    font-size: 1vw;
    width: 30vh;
}


.texto3{
    font-size: 7vw;
    letter-spacing: .15rem;
    font-family: "Bellefair",serif;
}

.texto4{
    margin-bottom: 4vh;
    line-height: 190%;
    font-family: "Barlow",sans-serif;
    color: var(--fog--clr);
    font-size: 0.9vw;
    line-height: 1.8em;
    opacity: 0.8;
    width: 50vh;

}

.texto56{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 50vh;
}


.linha1{
    margin-bottom: 1vh;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    color: var(--half-transparent--clr);
    font-size: 0.8vw;

}

.linha2{
    margin-bottom: 1vh;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    color: var(--half-transparent--clr);
    font-size: 0.8vw;
}

.linha3{
    font-family: "Bellefair",serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light--clr);
    font-size: 1.5vw;
}

.linha4{
    font-family: "Bellefair",serif;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light--clr);
    font-size: 1.5vw;
}



@media (max-width: 1200px) {
   .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   }

   .bloco {
    width: 70vh;
    display: center;
    align-items: center;
    margin-top: -4vh;
   }
   
   .texto1 {
    width: 70vh;
    height: 2vh;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .15rem;
    margin-top: 3vh;
   }
   
   .texto2 {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
   }

   .texto3 {
    font-size: 5.5rem;
    margin-top: 0vh;
   }

   .texto4 {
    width: 60vh;
    text-align: center;
    margin-top: -3vh;
    font-size: 1rem;
   }

   
   .lua{
    width: 20vh;
    height: 20vh;
    margin-bottom: 5vh;
   }

   .texto5 {
    width: 20vh;

   }
   .linha2 {
    display: flex;
    justify-content: center;
    font-size: 0.80rem;
    opacity: 0.7;
   }

   .linha1 {
    display: flex;
    justify-content: center;
    font-size: 0.80rem;
    opacity: 0.7;
   }

   .linha3 {
    display: flex;
    justify-content: center;
    
   }
   .linha4 {
    display: flex;
    justify-content: center;
    
   }

   .texto56 {
    align-items: center;
    width: 45vh;
   }

   .traco {
    width: 80%;
    height: 0.2vh;
    background-color: #383B4B;
    display: flex;
    justify-content: center;
    margin-top: -3vh;

   }
}

@media (max-width: 768px) {
    
}

@media (max-width: 376px) {
    .container {
        width: 55vh;
    }
    .lua {
        width: 25vh;
        height: 25vh;
        margin-bottom: 8vh;
    }

    .bloco {
        width: 40vh;
        display: flex;
        justify-content: center;
    }

    .texto4 {
        width: 50vh;
    }

    .traco {
        
    }
}
