* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#navbar {
    padding: 1% 0% 1% 6%;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    color: #D0D6F9;
}

#navbar div {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 3vw;
}

#line {
    position: relative;
    left: 3.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 1;
}

#nav {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}

#nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

#nav ul li {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

#nav ul li a{
    height: 100%;
    font-family: "Barlow Condensed";
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    gap: 1em;
}

.selected {
    border-bottom: 3px solid #fff;
}

.unselected {
    border-bottom: 3px solid #d0d6f900;
}

.unselected:hover{
    border-bottom: 3px solid #d2d8f980;
}

.hamburguer img {
    display: none;
}

#button-mobile {
    display: none;
}

@media (max-width: 768px) {
    #nav ul li b{
        display: none;
    }

    #logo {
        width: 6vw;
    }

    #nav ul li a{
        font-size: 1.5vw;
    }
}

@media (max-width: 700px) {

    #logo {
        width: 10vw;
    }

    #button-mobile {
        display: flex;
        align-self: center;
        background-color: transparent;
        border: none;
    }

    #navbar nav ul{
        display: none;
    }

    #nav {
        justify-content: flex-end;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        padding-right: 6%;
    }
    
    #line {
        display: none;
    }
    
    #hamburger {
        border-top: 0.8vw solid;
        width: 6.5vw;
        color: #D0D6F9;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 6.5vw;
        height: 0.8vw;
        background: currentColor;
        margin-top: 1.6vw;
        transition: 0.3s;
        position: relative;
    }
    
    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -2.25vw;
    }

    #nav.active ul{
        display: block;
        position: absolute;
        inset: 30vw 0 0 0;
    }

    #nav.active li{
        width: 100vw;
    }

    #nav.active li a{
        width: 100vw;
    }
}
    /*
    .menu-list {
        position: fixed;
        inset: 0 0 0 30%;
        padding: 15vh 10vw;
        list-style-type: none;
        justify-content: space-around;
        background-color: rgb(16, 14, 45);
        transform: translateX(100%);
    }

    .menu-list li {
        padding: 10%;
    }

    .menu-list a {
        text-decoration: none;
        color: #D0D6F9;
    }

    .selected {
        border-bottom: none;
        border-right: 3px solid #d0d6f9;
    }

    .unselected {
        border-bottom: none;
        border-right: 3px solid #d0d6f900;
    }

    .unselected:hover{
        border-bottom: none;
        border-right: 3px solid #d2d8f980;
    }

    #menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 40px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 0px solid #fff; 
  }
  
  #menu1 {
      width: 32px;
      height: 4px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.35), 
      0px 0px 10px rgb(255, 255, 255, 0.2), 
      0px 0px 15px rgb(255, 255, 255, 0.2),
      0px 0px 20px rgb(255, 255, 255, 0.2),
      0px 0px 30px rgb(255, 255, 255, 0.2),
      0px 0px 40px rgb(255, 255, 255, 0.1),
      0px 0px 55px rgb(255, 255, 255, 0.1),
      0px 0px 75px rgb(255, 255, 255, 0.1);
      transition: all .5s ease-in-out;
  }
  
  #menu1::before,
  #menu1::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.35), 
    0px 0px 10px rgb(255, 255, 255, 0.2), 
    0px 0px 15px rgb(255, 255, 255, 0.2),
    0px 0px 20px rgb(255, 255, 255, 0.2),
    0px 0px 30px rgb(255, 255, 255, 0.2),
    0px 0px 40px rgb(255, 255, 255, 0.1),
    0px 0px 55px rgb(255, 255, 255, 0.1),
    0px 0px 75px rgb(255, 255, 255, 0.1);
    transition: all .5s ease-in-out;
  }
  #menu1::before {
    transform: translateY(-9px);
  }
  #menu1::after {
    transform: translateY(9px);
  }
  
  #menu.open #menu1 {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  #menu.open #menu1::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  #menu.open #menu1::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }*/



