* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#navbar {
    padding: 1vw 0vw 1vw 6vw;
    width: 94%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    color: #D0D6F9;
}

#navbar div {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo, #logo img {
    width: 3vw;
}

#line {
    position: relative;
    left: 3.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 1;
}

#nav {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    -webkit-backdrop-filter: blur(40.7742px);
    padding-right: 6vw;
}

#nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

#nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav ul li a{
    height: 100%;
    font-family: "Barlow Condensed";
    font-weight: 200;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    gap: 1em;
}

.selected {
    border-bottom: 3px solid #fff;
}

.unselected {
    border-bottom: 3px solid #d0d6f900;
}

.unselected:hover{
    border-bottom: 3px solid #d2d8f980;
}

#button-mobile {
    display: none;
}

@media (max-width: 768px) {
    #nav ul li b{
        display: none;
    }

    #line {
        display: none;
    }

    #logo, #logo img {
        width: 6vw;
    }

    #nav ul li a{
        font-size: 1.5vw;
    }
}

@media (max-width: 376px) {
    #logo, #logo img {
        width: 10vw;
    }

    #button-mobile {
        display: flex;
        align-self: center;
        background-color: transparent;
        border: none;
        z-index: 100;
    }

    #navbar nav ul{
        display: none;
    }

    #nav {
        justify-content: flex-end;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        padding: 1vw 6vw 1vw 0vw;
    }
    
    #line {
        display: none;
    }
    
    #hamburger {
        border-top: 0.8vw solid;
        width: 6.5vw;
        color: #D0D6F9;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 6.5vw;
        height: 0.8vw;
        background: currentColor;
        margin-top: 1.6vw;
        transition: 0.3s;
        position: relative;
    }
    
    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -2.35vw;
        display: flex;
        align-self: flex-end;
    }

    #nav.active {
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 99vh;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        -webkit-backdrop-filter: blur(40.7742px);
        flex-direction: column;
        padding-right: 0;
        z-index: 10;
        margin: 0;
    }

    #nav.active #button-mobile {
        align-self: flex-end;
        height: 12vh;
        align-items: center;
        padding-right: 6vw;
    }
    #nav.active ul {
        display: block;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    #nav.active li{
        display: flex;
        width: 100%;
        height: 5%;
        padding: 5% 0 5% 0;
        flex-direction: row;
    }

    #nav.active li a{
        display: flex;
        font-size: 5vw;
        width: 100%;
        justify-content: flex-start;
        gap: 0;
    }

    #nav.active ul li b{
        display: flex;
        width: 12.5%;
        padding-left: 15%;
    }
    
    #nav.active .selected {
        border-bottom: 0;
        border-bottom: 0;
    }
    
    #nav.active .selected a {
        border-bottom: 0;
        border-right: 4px solid #fff;
    }
    
    #nav.active .unselected a {
        border-bottom: 0;
        border-right: 4px solid #d0d6f900;
    }
    
    #nav.active .unselected {
        border-bottom: 0;
    }

    #nav.active .unselected a:hover{
        border-bottom: 0;
        border-right: 4px solid #d2d8f980;
    }
}