* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh; 
    /*background-image: url("/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;*/
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-color: #0B0D17;
}

body main {
    display: flex;
    flex-direction: row;
}

#explore {
    display: flex;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh; 
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-color: #0B0D17;
}

body main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#explore {
    display: flex;
    width: 345px;
    height: 350px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

.texto1 {
    
    width: 300px;
    height: 400px;
    margin-top: 250px;
    color: antiquewhite;
    font-family: serif;
    margin-right: 200px;

}

.linha1{
    margin-bottom: 30px;
    font-size: 30px;
    width: 500px;
    height: 20px;
   
    
}

.linha2{
    margin-bottom: 30px;
    font-size: 160px;
    
}

.linha3{
    
    font-size: 20px;
    height: 20px;
    width: 500px;
    line-height: 190%;
    
}

.linha4{
    
    font-size: 45px;
    
    
}


