* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B0D17;
    font-family: "Barlow Condensed",sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;;
}

main {
    display: flex;
    flex-direction: column;
}

#page {
    width: 80vw;
    height: 15vh;
    position: absolute;
    display: flex;
    align-items: flex-end;
    font-size: 2vw;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.4vw;
    font-weight: 400;
    padding-left: 10%;
}

#page b{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    opacity: 0.25;
    margin-right: 1.6%;
}

#article {
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: row;
    color: #D0D6F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#section {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%
}

#subtitle {
    letter-spacing: 0.3vw;
    font-size: 1.2vw;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

#technologyTitle {
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vw;
    color: #FFFFFF;
    padding-top: 1.25vw;
    padding-bottom: 2.5vw;
}

#technologyParagraph {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 160%;
    font-style: normal;
    width: 80%;
    color: #D0D6F9;
}

#technologyImg, #technologyImgLandscape {
    width: 35vw;
    object-fit:cover;
}

#button-list {
    display: flex;
    height: 35vh;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 17vh;
}

.button {
    width: 9vh;
    height: 9vh;
    opacity: 1;
    border-radius: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 1;
    border: solid white;
    border-width: 0.2vh;
    
}

#btn1, #btn2, #btn3 {
    cursor: pointer;
}

#btn1 {
    background-color: #fff;
    color: #000;

}
#btn2:hover, #btn3:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);

}

@media (max-width: 768px) {
    #page {
        position: relative;
        height: 7vh;
    }
    #article {
        flex-direction: column-reverse;
        height: 80vh;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    picture {
        order: 3;
        width: 100%;
    }   
    #technologyImg, #technologyImgLandscape {
        order: 3;
        width: 100%;
    }    
    #section{
        margin: 0;
        text-align: center;
        width: 70vw;
    }
    #article nav {
        order: 2;
        height: 15vh;
        
    }
    #article nav, #article nav ul {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    #article nav ul {
        display: flex;
        gap:5%;
    }
    #technologyParagraph {
        order: 1;
        width: 100%;
    }

    #button-list {
        height: 15vh;
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }
    .button {
        width: 10vw;
        height: 10vw;
    }
    #page {
        position: relative;
        height: 7vh;
    }

    #subtitle {
        letter-spacing: .75vw;
        font-size: 3vw;
    }
    
    #technologyTitle {
        font-size: 7vw;
        margin-top: 1.5%;
        margin-bottom: 3%;
    }
    
    #technologyParagraph {
        font-size: 2.5vw;
        line-height: 200%;
    }

    #button-list a {
        font-size: 4vw;
    }
    
}


@media (max-width: 376px) {
    #page{
        padding: 0;
        width: 100vw;
        height: 2.5vh;
        letter-spacing: 0.9vw;
        font-size: 4.5vw;
        justify-content: center;
        padding: 0;
        font-style: normal;
    }
    #section {
        width: 90vw;
    }

    #subtitle {
        letter-spacing: .75vw;
        font-size: 4vw;
    }
    
    #technologyTitle {
        font-size: 8vw;
        margin-top: 1.5%;
        margin-bottom: 3%;
    }
    
    #technologyParagraph {
        width: 90vw;
        font-size: 4vw;
        line-height: 180%;
    }

    #button-list a {
        font-size: 3vw;
    }
    
}