* {
    padding: 0;
    margin: 0; 
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    background-color: rgb(14, 14, 136);
    color: antiquewhite;
    font-family: "Barlow Condensed",sans-serif;
}

article {
    width: 31vw;
    color: #D0D6F9;;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2%;
}

.img {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 600px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 50vh;
    width: 160vh;
    

}

.line {
    letter-spacing: 0.3vw;
    font-size: 2vw;
    font-family: 'Barlow Condensed', sans-serif;
}

.texto1 {
    margin: 70px;
    margin-left: 170px;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .15rem;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    font-family: 'Nunito Sans', sans-serif;
}

.o2{
    color: darkslategray;
    font-size: 2vw;
}


.bloco {
    
    margin: 70px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60vh;
}

.texto2{
    color: #FFFFFF;
    font-size:32px;
    opacity: 0.5;
    font-family: "Bellefair",serif;
}

.texto3 {
    color: #FFFFFF;
    font-size: 56px;
    font-family: "Bellefair",serif;
}

.texto4 {
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 1.3;
    opacity: 0.7;
    font-family: "Barlow",sans-serif;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 170px;
    width: 10vh;

}

.button {
    width: 15px;
    height: 15px;
    background-color: #979797;
    border-radius: 60px;
}
